header {
  text-align: center;
}
nav {
  font-size: 1.6rem;
  display: flex;
  justify-content: space-around;
}
header nav > * {
  padding-top: 0.6rem;
  width: 33.3%;
  border-left: 0.2rem solid purple;
  border-right: 0.2rem solid purple;
  border-radius: 20%;
}
.choice-container {
  display: flex;
  font-size: 1.8rem;
  width: 100%;
  margin-bottom: 0.7rem;
  border: 0.1rem solid rgba(0, 255, 100, 0.5);
  background-color: white;
}
.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.5rem 1.4rem 0 rgba(14, 129, 20, 0.5);
  transform: translateY(-0.2rem);
  transition: transform 100ms;
}
.choice-letter {
  padding: 1.5rem 2.5rem;
  background-color: rgb(31, 61, 231);
  color: white;
}
.choice-text {
  padding: 1.5rem;
  width: 100%;
}
.btn2 {
  outline: none;
  background-color: rgba(0, 255, 255, 0.4);
  border: 0.1rem solid rgb(0, 119, 255);
  color: white;
  font-size: 1.6rem;
  padding: 1rem;
  width: 15rem;
}
.btn2:hover {
  letter-spacing: 0.2rem;
  cursor: pointer;
  box-shadow: 0 0.3rem 1.3rem 0 rgba(14, 112, 129, 0.5);
}
.btn2[disabled]:hover {
  cursor: not-allowed;
  transform: none;
  box-shadow: none;
}
footer {
  text-align: center;
}
#fun-text {
  margin-top: 1rem;
  font-size: 1.8rem;
}

.wrong > * {
  color: white;
}
.correct > * {
  color: white;
}
.show-correct > * {
  color: white;
}

.wrong {
  background-color: rgba(255, 0, 0, 0.7);
}
.correct {
  background-color: rgba(0, 255, 0, 0.6);
}
.show-correct {
  background-color: rgba(0, 255, 0, 0.3);
}
#hud-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#progressBar {
  width: 16rem;
  height: 2rem;
  margin: 1rem 0 0.5rem 0.5rem;
  border: 0.2rem solid rgb(80, 15, 231);
}
#progressBarFull {
  background-color: rgba(80, 15, 231, 0.7);
  height: 1.8rem;
  width: 0%;
}
